.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: darkgray;
    border-radius: 5px;
    
    padding: 10px;
}

.searchbar-input{
    width: 250px;
    height: 31px;
    border: 2px solid black;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(168, 245, 123, 0.87);
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    cursor: text;
    padding: 0px;
}
.searchbar-button{
    width: 100px;
    height: 35px;
    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(250, 165, 85, 0.87);
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 1px;
}